In [1]:
#Write Examples code for concatenation

In [2]:
str1 = "Hello"
str2 = "World !"
concatenated_string = str1 + " " + str2
print("Concatenated string:", concatenated_string)

Concatenated string: Hello World !

In [3]:
name = "Ramu"
age = 21
formatted_string = "Name: %s, Age: %d" % (name, age)
print("Formatted string:", formatted_string)

Formatted string: Name: Ramu, Age: 21

In [4]:
#Go Through Reference site and apply various options into formatting techniques

In [5]:
from string import Template
template = Template("Name: Ramu, Age: 21")
formatted_string = template.substitute(name=name, age=age)
print("Formatted string:", formatted_string)

Formatted string: Name: Ramu, Age: 21

In [6]:

formatted_string = "Name: {}, Age: {}".format(name, age)
print("Formatted string:", formatted_string)

Formatted string: Name: Ramu, Age: 21

In [7]:
#Write example for each arithmetic operators

In [18]:
#Addition
Addition = 1 + 9
print("Addition :", Addition)

#Substraction
Substraction = 13 - 3
print("Substraction :", Substraction)

#Multiplication
Multiplication = 5 * 2
print("Multiplication :", Multiplication)

#Division
Division = 50/5
print("Division result", Division)

#Exponential
Exponential = 5 ** 2
print("Exponential result:", Exponential)

#Modulus
Modulus = 24 % 11
print("Modulus result:", Modulus)

Addition : 10
Substraction : 10
Multiplication : 10
Division result 10.0
Exponential result: 25
Modulus result: 2

In [ ]:
#Write Example for assignment operators (except: = & +=)

In [20]:
x = 7
x -= 3
print("After subtraction assignment:", x)

After subtraction assignment: 4

In [21]:
y = 9
y *= 2
print("After multiplication assignment:", y)

After multiplication assignment: 18

In [22]:
z = 16
z /= 4
print("After division assignment:", z)

After division assignment: 4.0